.center {
    text-align: center;
    width: 50%;
    margin: 0px auto;
}


.table {
    border-radius: 5px;
    width: 50%;
    margin: 40px auto;
}

.input-group {
    width: 50%;
    margin: 0 auto;
}

#addBookButton {
    width: 50%;
    margin: 10px auto;
}

.mainHeader {
    padding: 40px;
}

.secondHeader {
    margin: 0 auto;
    padding: 10px;
}